@page
@model ConfirmEmailModel

    <h4 class="ml-4 text-info" style="padding-top:50px;">Email confirmado com sucesso :)</h4>
    <a class="btn btn-outline-secondary ml-5 mt-4" asp-area="Identity" asp-page="/Account/Login">Faça login</a>