@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar registro";
}


<h1 class="text-info" style="padding-top:60px;">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a class="text-secondary" id="confirm-link" href="@Model.EmailConfirmationUrl">Clique para confirmar seu cadastro</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
